*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    color-scheme: light dark;
    scrollbar-gutter: stable;
    background-color: light-dark(#fdfdfd, #222222);
}

body {
    font-family: system-ui, sans-serif;
    accent-color: light-dark(#c81548, #f2ec4f);
    max-width: 50em;
    padding: 0 1.5em;
    margin: 0 auto;
}

#sun {
    background: linear-gradient(to bottom, #f2ec4f, #c81548);
}

h1 {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

#sun {
    width: 1em;
    height: 1em;
    border-radius: 1em;
}

details,
summary {
    margin: 1em 0;
}

fieldset {
    min-inline-size: unset;
    margin: 0;
    padding: 1em;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 0.3em;
}

input,
textarea {
    font-size: inherit;
    font-family: inherit;
}

input[type="file"],
textarea {
    font-family:
        ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
        "DejaVu Sans Mono", monospace;
    display: block;
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    outline: none;
    border: 1px solid gray;
    border-radius: 0.3em;

    &:user-invalid {
        border-color: #ff6464;
    }
}

input[type="submit"] {
    width: 7em;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

textarea {
    field-sizing: content;
    resize: vertical;
}
