*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --c-bg: light-dark(#ececec, #1a1a1a);
    --c-invalid: #ff6464;
    --c-alpha: #c81548;
    --c-beta: #fffa6e;
}

html {
    background-color: var(--c-bg);
    scrollbar-gutter: stable;
}

body {
    font-family: system-ui, sans-serif;
    margin: 0;
}

#bg {
    background-image: linear-gradient(#1a1a1a);
    -webkit-background-clip: text;
    background-clip: text;
    position: fixed;
    line-height: 1;
    font-size: 20vh;
    z-index: -1;
    overflow: hidden;
    opacity: 0.15;
    font-weight: 800;
    white-space: nowrap;

    div {
        color: var(--c-bg);
        -webkit-text-stroke: 4px transparent;
    }
}

@media (prefers-color-scheme: dark) {
    #bg {
        background-image: linear-gradient(180deg, var(--c-beta), var(--c-alpha));
    }
}

main {
    line-height: 1.5;
    color: light-dark(#272727, #e6e6e6);
    background-color: light-dark(#fafafa, #2c2c2c);
    filter: drop-shadow(0 9px 7px rgb(0 0 0 / 0.1));
    accent-color: light-dark(var(--c-alpha), var(--c-beta));
    min-height: 100svh;
    max-width: 50em;
    padding: 1.5em;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

#sun {
    background: linear-gradient(to bottom, var(--c-beta), var(--c-alpha));
}

a {
    color: light-dark(var(--c-alpha), var(--c-beta));
}

h1 {
    margin: 0 0em 1rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

#sun {
    width: 1em;
    height: 1em;
    border-radius: 1em;
}

details,
summary {
    margin: 1em 0;
}

fieldset {
    min-inline-size: unset;
    margin: 0;
    padding: 1em;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 0.3em;
}

input,
textarea {
    font-size: inherit;
    font-family: inherit;
}

input[type="file"],
textarea {
    display: block;
    background-color: unset;
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    outline: none;
    border: 1px solid gray;
    border-radius: 0.3em;

    &:user-invalid {
        border-color: var(--c-invalid);
    }
}

textarea {
    font-family:
        ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
        "DejaVu Sans Mono", monospace;
    background-color: light-dark(#f0f0f0, #414141);
}

label {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    gap: 0.5em;
}

input[type="checkbox"], input[type="radio"] {
    margin: 0;
}

.radio-group {
    display: flex;
    gap: 0.5em;
}

.options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    gap: 0.25em 0;
}

progress {
    flex-grow: 1;
    height: 1.5rem;
}

input[type="submit"] {
    width: 7em;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

textarea {
    field-sizing: content;
    resize: vertical;
}
